.White {
  color: white;
}
.Container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}
.btn {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
.btn-width {
  width: 30%;
}
.flex-column {
  flex-direction: column;
}
.center {
  text-align: center;
}
.border {
  padding: 1rem;
  border: 1px solid #f5f5f5;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .btn-width {
    width: 100%;
  }
}
